<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="membre">
            <h2><span jhiTranslate="gestionEvenementApp.membre.detail.title">Membre</span> {{membre.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionEvenementApp.membre.telephone">Telephone</span></dt>
                <dd>
                    <span>{{membre.telephone}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEvenementApp.membre.user">User</span></dt>
                <dd>
                    {{membre.user?.id}}
                </dd>
                <dt><span jhiTranslate="gestionEvenementApp.membre.presence">Presence</span></dt>
                <dd>
                    <span *ngFor="let presence of membre.presences; let last = last">
                        <a [routerLink]="['/presence', presence?.id, 'view' ]">{{presence.login}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/membre', membre.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
