<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lieu">
            <h2><span jhiTranslate="gestionEvenementApp.lieu.detail.title">Lieu</span> {{lieu.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gestionEvenementApp.lieu.nom">Nom</span></dt>
                <dd>
                    <span>{{lieu.nom}}</span>
                </dd>
                <dt><span jhiTranslate="gestionEvenementApp.lieu.evenement">Evenement</span></dt>
                <dd>
                    <div *ngIf="lieu.evenement">
                        <a [routerLink]="['/evenement', lieu.evenement?.id, 'view']">{{lieu.evenement?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/lieu', lieu.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
